@font-face {
    src: url(Ubuntu);
    font-family: myfont;
   
       }


    * {
    margin: 0;
    padding: 0;
    }
        h2 {
        
        float: right;
        font-family: 'Ubuntu', sans-serif;
        padding-top: 20px;
        padding-left: 10px;
        color: beige;
    }

    h3 {
        float: right;
    }

    body {
        background-color: rgb(18, 17, 78);
        
    }

    #header {
        min-height: 60px;
        border-bottom:2px solid beige;
        
        
        
        
    }

    .logoz {
        float: left;
        width: 40px;
        padding-left: 20px;
        padding-top:10px;
        padding-bottom: 10px;
    }

    .left {

        float: left;
        

    }

    .mainmenu {
        float:right;
        padding-top: 20px; 
        
        background-color: transparent;
    }

    .menu {
        display: inline;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-right: 100px;
        transition: all .5s;
        color: rgb(247, 247, 245);
        text-align: center;
        
       
        padding: 20px 40px; 
        
    }

   


    .menu:hover {
        color: black;
        background-color: #ddd;
        transition: .5s;
        
        
        
        
    }


    img.bck {

        z-index: -1;
        position: absolute;
    }

    img.keeper {
        z-index: 2;
        position: relative;
        height: 250px;
        width: 250px;
        margin-left: 15cm;
        margin-top: 1cm;
        
    }
    
    h3{
        text-emphasis: bold;
        text-align: center;
        margin-left: 400px;
        margin-right: 500px;
        margin-top: 50px;
        font-size:50px;
        font-family: monospace;
    }


    img.keeper:hover{
        height: 300px;
        width: 300px;
        transition: .5s;
    }


 /*   p{
       z-index: 3;
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0); 
        background: rgba(0, 0, 0, 0.5); 
        color: #f1f1f1; 
        width: 100%; 
        padding: 20px; 
    } 
    */

    p.mats {
        margin-left: 300px;
        margin-right: 200px;
        position: absolute;
        bottom: 150px;
        left: 330px;
        z-index: 2;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: cadetblue;
        font-weight: bold;

    }

